@using AutomotiveRepairSystem.ViewModels
@model MakeViewModel
@{
    ViewData["Title"] = "Create new Make";
}

<h1>Create a new Make</h1>

<form asp-controller="Make" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit">Create Make</button>
</form>
