@model IEnumerable<AutomotiveRepairSystem.Models.Fuel>
@{
    ViewData["Title"] = "Vehicle Fuel Types";
}

<h1>Vehicle Fuel Types</h1>
<br />
<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
        </tr>
    </table>
    <tbody>
        @foreach (var fuel in Model)
        {
            <tr>
                <td>@fuel.Name</td>
            </tr>
        }
    </tbody>
}