@model IEnumerable<AutomotiveRepairSystem.Models.Fuel>
@{
    ViewData["Title"] = "Vehicle Fuel Types";
}

<h1>Vehicle Fuel Types</h1>
<a asp-controller="Fuel" asp-action="Create">Create new Fuel</a>
<br />
<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var fuel in Model)
            {
                <tr>
                    <td>@fuel.Name</td>
                    <td>
                        <a asp-controller="Fuel" asp-action="Delete" asp-route-fuelId="@fuel.FuelId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}