@model IEnumerable<AutomotiveRepairSystem.Models.Model>
@{
    ViewData["Title"] = "Car Models";
}

<h1>Vehicle Models</h1>
<a asp-controller="Model" asp-action="Create">Create new Model</a>

<br />
<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var vehicleModel in Model)
            {
                <tr>
                    <td>@vehicleModel.Name</td>
                    <td>
                        <a asp-controller="Model" asp-action="Delete" asp-route-modelId="@vehicleModel.ModelId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Models found</p>
}