@model IEnumerable<AutomotiveRepairSystem.Models.Service>
@{
    ViewData["Title"] = "Vehicle Services";
}

<h1>Services</h1>
<a asp-controller="Service" asp-action="Create">Create new Service</a>

<br />
<br />

@if (Model != null){
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price (excl. VAT)
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var service in Model){
                <tr>
                    <td>@service.Name</td>
                    <td>@service.Description</td>
                    <td>@service.PriceExclVAT</td>
                    <td>
                        <a asp-controller="Service" asp-action="Delete" asp-route-serviceId="@service.ServiceId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
